.button {
    width: 157px;
    height: 48px;
    border-radius: 82px 82px 82px 82px;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    border: 1px solid #062665;
    margin-left: 641.5px;
    margin-top: 32px;
}
